body {
  background-color: #e3f2fd;
  color: #333333;
  font-family: Arial, sans-serif;
}

.container-about-us {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gradi {
  color: #007bff;
  margin-bottom: 2rem;
}

.p-5 {
  font-size: 18px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social-icons {
  text-align: center;
  margin-top: 2rem;
}

.social-icons a {
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
  padding: 0.8rem;
  transition: background-color 0.3s ease;
}

.btn-facebook {
  background-color: #3b5998;
  color: #ffffff;
}

.btn-twitter {
  background-color: #1da1f2;
  color: #ffffff;
}

.btn-instagram {
  background-color: #c13584;
  color: #ffffff;
}

.btn-linkedin {
  background-color: #0077b5;
  color: #ffffff;
}

.btn-facebook:hover {
  background-color: #1877f2;
}

.btn-twitter:hover {
  background-color: #00acee;
}

.btn-instagram:hover {
  background-color: #e1306c;
}

.btn-linkedin:hover {
  background-color: #0e76a8;
}