* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* background: linear-gradient(160.6deg, #eef9fe, hsl(24, 100%, 77%)) !important; */
  /* background: linear-gradient(90deg, #eef9fe 0%, #eef9fe 100%, #eef9fe 100%); ; */
  /* background: linear-gradient(90deg, #33ccff 0%, #99ccff 100%, #33ccff 100%); */
  background: linear-gradient(#f0e4db, #eef9fe );
  color: #3b2a2a;
}
.btnLog {
  background: #333333;
  color: white;
  border: 1px solid #333333;
  width: 20%;
  padding: 7px 15px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'Bonheur Royale', cursive;
  border-radius: 5px;
  margin-top: 20px;
}
.fire-color{
  background: linear-gradient(87.75deg, #ff1414, #ff9314);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btnLog:hover {
  background: white;
  color: #333333;
}

.btnDesign {
  background: #333333;
  color: white;
  border: 1px solid #333333;
  padding: 7px 15px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'Bonheur Royale', cursive;
  border-radius: 5px;
  margin-top: 20px;
}

.btnDesign:hover {
  background: white;
  color: #333333;
}

.inp {
  text-align: center;
  margin: 0 auto;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 15px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 20px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #333333;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 10px;
}

.form__field2 {
  font-family: inherit;
  width: 50%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #333333;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

i {
  background: linear-gradient(87.75deg, #ff1414, #ff9314);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form.form-design {
  background: rgb(247, 243, 226);
  background: radial-gradient(rgba(247, 243, 226, 0.97) 87%, #e91e63 84%, rgba(247, 243, 226, 0.138) 89%);
}

.sale-list {
  display: flex;
}

@media (max-width: 991px) {
  .space {
    min-height: 600px;
  }

  .sale-list {
    margin-top: 4vh;
    display: block;
  }

  .year-cat {
    display: flex;
  }

  .form__group {
    width: 90%;
  }
}

@media (max-width: 768px) {

  .btnLog,
  .btnDesign {
    width: 100%;
  }
}
