.nameMesssage{
  text-align: center;
  font-size: x-large;
}

.listMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 120vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.425);
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageitem {
  position: relative;
  top: 5vh;
  width: 65%;
  height: 90vh;
  background: #00BFFF;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.288));
  border-radius: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.nameMessage {
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 25px;
  color: #000;
}

.itemlistMessage {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.messageChat_item {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #000;
}

.messageChat_item.float-end {
  background-color: #fff;
  color: #fff;
  margin-left: auto;
  margin-right: 0;
  color: #000;
}

.messageChat_item.float-start {
  background-color: #00BFFF;
  color: #000;
  margin-right: auto;
  margin-left: 0;
  text-align: left;
}

.emoji {
  height: 10%;
  display: flex;
  align-items: center;
}

.btnClose {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btnClose i {
  font-size: 20px;
}

.inputMessage {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.inputMessage:focus {
  box-shadow: 0 0 5px #00BFFF;
}

.sendButton {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #00BFFF;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #0000FF;
}


@media (max-width: 992px) {
  .messageitem{
    top: 0;
    height: 70vh;
  }


}
