.strip_home{
  min-height: 400px;
  background: #808080; /* Changed color to gray */
  background-size: cover;
  background-position:center center;
}

.categories_list a{
  text-decoration: none;
}

.categories_list a > div{
  transition: 400ms;
}

.categories_list a:hover > div{
  box-sizing: border-box;
  transform: scale(1.04,1.04);
}

.categories_list .myCard .img_card{
  min-height: 150px;
  background: #808080; /* Changed color to gray */
  background-size: cover;
  background-position:center center;
}

.gradi{
  background: linear-gradient(to bottom, #444444, #333333);
  color: #ccc;
  padding: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
